#container{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 20px;
    color: white;
    text-align: center;
    
    font-size: 22px;
    
}

body{
    background-color: rgba(0, 0, 0, 0.7);
}

.b1{
    transition: 3s ease;
}
.b1:hover{
    background-color: greenyellow;
    transform: rotate(-30deg);
}

.b2{
    transition: 1s ease;
}
.b3{
    transition: 1s ease;
}
.b4{
    transition: 1s ease;
}
.b5{
    transition: 1s ease;
}
.b6{
    transition: 1s ease;
}
.b7{
    transition: 1s ease;
}
.b8{
    transition: 1s ease;
}
.b9{
    transition: 1s ease;
}
.b10{
    transition: 1s ease;
}

.b2:hover{
    background-color: greenyellow;
    transform: rotate(360deg);
}
.b3:hover{
    background-color: greenyellow;
    transform: rotate(-360deg);
}
.b4:hover{
    background-color: greenyellow;
    transform: rotateY(360deg);
}
.b5:hover{
    background-color: greenyellow;
    transform: rotateY(180deg);
}
.b6:hover{
    background-color: greenyellow;
    transform: rotateX(360deg);
}
.b7:hover{
    background-color: greenyellow;
    transform: rotateX(180deg);
}
.b8:hover{
    background-color: greenyellow;
    box-shadow: inset 10px 10px 5px rgba(0, 0, 0, 0.6), inset -10px 10px 5px rgba(0, 0, 0, 0.6), inset 10px -10px 5px rgba(0, 0, 0, 0.6), inset -10px -10px 5px rgba(0, 0, 0, 0.6);
}
.b9:hover{
    background-color: greenyellow;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6), 10px -10px 5px rgba(0, 0, 0, 0.6), -10px 10px 5px rgba(0, 0, 0, 0.6), -10px -10px 5px rgba(0, 0, 0, 0.6);
}

.b10:hover{
    background-color: greenyellow;
    box-shadow: inset 10px 10px 10px 10px rgba(0, 0, 0, 0.6), inset 10px -10px 10px 10px rgba(0, 0, 0, 0.6), inset -10px 10px 10px 10px rgba(0, 0, 0, 0.6), inset -10px -10px 10px 10px rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width:380px) and (max-width:480px) {
    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box{
        width: 90px;
        font-size: 15px;
        background-color: orangered;
        height: 90px;
        margin: 10px;
    }

    

}